@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center pt-3">
    <h3 style="font-size:40px;">UNIVERSITY COLLEGE HOSPITAL</h3>
    <h4 class="" style="font-size:30px;"> UCH PPP PROJECTS</h4>
    <p><a asp-controller="Project" asp-area="Admin" asp-action="Create" class="btn btn-primary">click to add a project</a></p>
</div>
